@import "../variables/variabes";
.countryPage{
  display: flex;
  flex-direction: column;
  max-width: 99vw;
  .border{
    border-bottom: 2px solid orangered;
    margin: 0 20px;
    padding: 10px;
    .moto, .cars{
      border-bottom: 2px orange solid;
      text-align: center;
    }
  }
  .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 900px) {
      flex-direction: column;
    }
  }

  .countryNav{
    flex-direction: row;
    justify-content: space-between;
    .leftInfo {
      flex-direction: row;
      @media (max-width: 760px) {
      flex-direction: column;
      }
      .alarm {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100px;

      }
    }
  }
  .intoCountry{
    justify-content: center;

  }
  .safety{
    @media (max-width: 900px) {
      flex-direction: column;
    }
  }
  .speedLimitations{
    flex-wrap: wrap;
    @media (max-width: 900px) {
      flex-direction: column;
    }
    div{
      flex-direction: column;
      .signs{
        flex-direction: row;
      }
    }
  }
  .driveAfterDrink{
    flex-direction: row;
    justify-content: flex-start;
  div{
    margin-left: 20px;
  }
  }
  h1{
     font-size: 40px;
   }
  p{
    margin: 10px;
  }
  img{
    width: 100px;
    margin: 5px;
  }
}
