@import "../variables/variabes";
.userThoughts{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: $main-background;
  color: white;
  height: 200px;
  width: 100%;
  textarea{
    width: 600px;
    height: 100px;
    resize: none;
  }
}